* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #ffd3a4ad;
    color: #d57070;
}

header nav {
    background-color: #f0f2ebab;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Change to column for small screens */
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    margin-top: 20px;
}

header nav h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px; /* Add margin for spacing on small screens */
}

header nav form {
    display: flex;
    flex-direction: column; /* Change to column for small screens */
    align-items: center;
    width: 100%; /* Full width on small screens */
}

form input[type="text"] {
    flex-grow: 1;
    margin: 10px 0; /* Add margin for spacing on small screens */
    font-size: 10px;
    padding: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type="submit"] {
    margin-top: 10px; /* Add margin for spacing on small screens */
    
}

/* main section */

.recipe-container {
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
}

.recipe-h1 {
    margin: 20px 40px;
    text-align: center;
}

.recipe-h1 p {
    color: #e9837b8c;
}

#icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 210px;
    margin-top: 210px;
    color: #ffffffb1;
}

.recipe {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: #d57070;
    border-radius: 6px;
    box-shadow: 0px 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.21s ease-in-out;
}

.recipe:hover {
    transform: scale(1.02);
}

.recipe img {
    height: 300px;
    width: 100%; /* Make images fill the container */
}

.recipe h3 {
    font-size: 21px;
    margin-block: 5px;
}

.recipe p {
    color: #4a4a4a;
    margin: 5px 0;
}

.recipe span {
    font-weight: 600;
}

.recipe button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    background-color: #e9837b;
    border: none;
    color: #fff;
    transition: background-color 0.5s ease-in-out;
}

/* Recipe details */
.recipe-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #e9837be0;
    color: #fff;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}

/* Adding scrollbar to recipe detail popup*/
.recipe-details-content {
    padding: 30px;
}

button[type="submit"] {
    background-color: #e9837b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

button[type="submit"]:hover,
.recipe button:hover , .recipe-close-btn:hover {
    background-color: #ff5c5c;
}

.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.ingredientList {
    margin-top: 10px;
    margin-left: 20px;
}

.recipeInstructions p {
    line-height: 30px;
    white-space: pre-line;
}

.recipeName,
.ingredientList,
.recipeInstructions {
    margin-bottom: 20px;
}

.recipe-close-btn {
    border: none;
    font-size: 10px;
    padding: 8px;
    border-radius: 4px;
    background-color: #d57070;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-details::-webkit-scrollbar {
    width: 10px;
}

.recipe-details::-webkit-scrollbar-thumb {
    background: #b5b5ba;
    border-radius: 16px;
    --webkit-border-radius: 16px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #aaaaab;
    border-radius: 16px;
    --webkit-border-radius: 16px;
}

/* responsive code */
@media screen and (max-width: 600px) {
    header nav {
        flex-direction: column;
    }

    header nav form {
        width: 100%;
        margin-top: 20px;
    }

    .recipe-container {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .recipe {
        max-width: 100%;
    }

    .recipe img {
        width: 100%;
        height: auto;
    }

    .recipe-details {
        width: 80%;
        height: 70%;
    }
}

::selection {
    background-color: #ff5c5c7a; /* Change to the desired background color */
    color: #fff; /* Change to the desired text color */
}

input:focus {
    border: 2px solid white; /* Change to the desired border color and width */
    outline: none; /* Remove the default outline */
}

input:not(:focus) {
    border: 2px solid white; /* Change to the desired border color and width */
    outline: none; /* Remove the default outline */
}

button:not(:active):focus,
button:focus {
    border: 2px solid #ff5c5c7a; /* Change to the desired border color and width */
    outline: none; /* Remove the default outline */
}

